.Mui-completed .MuiStepConnector-line{
    border-color: #2B7A78 !important;
    border-width: 2px !important; 
}
.MuiStepper-root{
    margin-top: 9vh;
}
.MuiFormControlLabel-root{
    margin-right:4vw !important;
}
.MuiTableCell-root{
    width:18vw !important;
}
.MuiTableCell-head{
    background-color: rgb(175, 4, 175);
}
.test{
    background: linear-gradient(#dc2dec 80%,#e9e628 10%);
}
.med::placeholder{
    color:black;
}

.content{
    min-height: 98vh;
    height:fit-content;
    background: linear-gradient(180deg, #99ebe7 10%, #DEF2F1 90%);
}
